body {
  background:  blue;
}
p {
  font-family: sans-serif;
  color: yellow;

}
a {
    color: hotpink;

}

a:hover {
  color:lime;
}

a:visited {
  color:red;
}

h1,h2  {
    color: orange;
}


hr {
  width: 500px;
  margin: 2em 0;
}

.blue {
  color: white;
}
