/* FRAME */

body {
	background: black;
	/* -webkit-animation-duration: 4s;
	-webkit-animation-name: grow;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-out; */
}

@-webkit-keyframes grow {
	from {
		font-size: 16px;
	}

	to {
		font-size: 32px;
	}
}


.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.canvas.one {
	background: rgb(78, 147, 83);

}

.canvas.two {
	background: #895222;
}

/* DRAWING ONE */

.object {
	position: absolute;
}

#orange {
	height: 8em;
  width: 8em;
  border-radius: 50%;
  bottom: 11em;
  right: 17em;
  background: orange;
}

#orange #sticker {
	height: .75em;
	width: 1.25em;
	background: blue;
	border-radius: 50%;
	border: 3px solid white;
	right: 5em;
	bottom: 2em;
}

#kiwi {
	height: 3.75em;
  width: 5em;
  border-radius: 42%;
  background: #513f35;
  bottom: 9em;
  right: 17em;
}

#vase {
	bottom: 9em;
	left: 12em;
	width: 11em;
	height: 12em;
}

#vase #top {
	border-bottom: 6em solid rgb(255,255,255);
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
  height: 0;
  width: 6em;
}

#vase #middle {
	width: 12em;
	height: 1em;
	background: rgb(240,240,240);
}

#vase #bottom {
	border-top: 6em solid rgb(230,230,230);
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
  height: 0;
  width: 6em;
}

#candle {
	width: 5em;
	height: 7em;
	border: 5px solid rgba(255,255,255,0.2);
	bottom: 5em;
  right: 35em;
	/* background: rgba(255,255,255,0.2); */
	border-top: 0;
	border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

#candle #glass-top {
	width: 100%;
	height: 20%;
	border-radius: 50%;
	top: -13px;
	left: -5px;
	border: 5px solid rgba(255,255,255,0.2);
}

#candle #wax {
	background: #d46969;
	width: 100%;
	height: 70%;
	bottom: 0;
	border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

#candle #wax-top {
	background: #cc4b4b;
	width: 100%;
	height: 20%;
	border-radius: 50%;
	top: 20%;
}

#candle #wick {
	background: black;
  width: .2em;
  height: 20%;
  top: 0.75em;
  left: 48%;
}

#candle #flame {
	background: yellow;
	width: 13%;
	height: 25%;
	border-radius: 50%;
	top: 0.25em;
	left: 44%;
	-webkit-animation-duration: 0.33s;
	-webkit-animation-name: flicker;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes flicker {
	from {
		transform: rotate(3deg);
		opacity: 1;
		padding-top: .125em;
	}

	to {
		transform: rotate(-3deg);
		opacity: .85;
		padding-top: 0;
	}
}

#rose {
	width: 13em;
  height: 3em;
  /* background: rgba(255,255,255,0.2); */
  bottom: 15em;
  left: 21em;
  transform: rotate(90deg);
}

#rose #flower {
	background: #b12121;
  left: 1em;
  height: 100%;
  border-radius: 36%;
  width: 3em;
}

#rose #stem {
	height: 0.65em;
  width: 13em;
  background: green;
  bottom: 30%;
  left: 2em;
  transform: rotate(1deg);
}

#rose #sleeve {
	bottom: -2em;
  border-top: 5em solid rgba(255,255,255, 0.2);
  border-right: 20em solid transparent;
  border-left: 3em solid transparent;
  height: 0;
  width: 1em;
  left: -2em;
  transform: rotate(5deg);
}

/* DRAWING TWO */

#orange-two {
	height: 8em;
  width: 8em;
  border-radius: 50%;
  bottom: 9em;
  right: 26em;
  background: orange;
}


#kiwi2 {
	height: 3.75em;
  width: 5em;
  border-radius: 42%;
  background: #513f35;
  bottom: 14em;
  right: 21em;
}

#lamp {
	height: 10em;
	width: 10em;
	right: 24em;
	bottom: 13em;
	/* border: 1px solid red; */
}


#box {
	background: #c37d40cf;
  width: 8em;
  height: 8em;
  top: 9em;
  left: 22em;
}


#lamp #light {
	height: 85%;
	width: 100%;
	top: 12.5%;
	border-radius: 50%;
	background: rgb(242, 252, 167);
	box-shadow: 0px 0px 24px rgba(242, 252, 167, 1);
	-webkit-animation-duration: 3s;
	-webkit-animation-name: glow-animation;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

#lamp-base {
	width: 30%;
  height: .5em;
  bottom: 0;
  background: white;
  left: calc(50% - 15%);
}


#rose2 {
	width: 13em;
  height: 3em;
  /* background: rgba(255,255,255,0.2); */
  bottom: 15em;
  left: 10em;
  transform: rotate(60deg);
}

#rose2 #flower2 {
	background: #b12121;
  left: 1em;
  height: 100%;
  border-radius: 36%;
  width: 3em;
}

#rose2 #stem2 {
	height: 0.65em;
  width: 13em;
  background: green;
  bottom: 30%;
  left: 2em;
  transform: rotate(1deg);
}

#rose2 #sleeve2 {
	bottom: -2em;
  border-top: 5em solid rgba(255,255,255, 0.2);
  border-right: 20em solid transparent;
  border-left: 3em solid transparent;
  height: 0;
  width: 1em;
  left: -2em;
  transform: rotate(5deg);
}


@-webkit-keyframes glow-animation {
	from {
		box-shadow:0px 0px 20px rgba(242, 252, 167, 0.7);
	}

	to {
		box-shadow:0px 0px 60px rgba(242, 252, 167, 1);
	}
}
