body {
}

body.night {
  background: black;
}

body.night #ground {
   background: radial-gradient(cyan, blue, navy);
}

body.night #organism {
  height: 100px;
   width: 200px;
   transition: width 1s;
  filter: blur(20px);
    filter: hue-rotate(50deg);
   background: repeating-radial-gradient(cyan, blue 10%, navy 15%););
}

body.night #organism .eye {
  background: rgb(120, 0 , 0)

}

body.night #water {
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vh;
  filter: hue-rotate(90deg);
}

body.night #switch {
  filter: hue-rotate(90deg);



}



#water {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30vh;
}

#ground {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(cyan, navy);
  height: 100vh;
}




#organism {
  background: radial-gradient(cyan, blue, navy);
  width: 80vw;
  height: 60vh;
  border-radius: 50%;
  position:absolute;
  bottom: 20vh;
  left: 10vw;
  text-align: center;
  padding: 2em;
}





#switch {
	width: 96px;
	height: 48px;
	background: #eee;
	border-color: red;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
}



#switch:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: blue;
	border: 18px solid red;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

#switch:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: red;
	border: 18px solid #eee;
	border-radius:100%;
	width: 12px;
	height: 12px;
}
